@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Neucha', cursive;
  background-color: #262626;
  padding: 100px 0 50px;
}
h1{
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 100px;
  text-transform: capitalize;
}
.timeline {
  display: block;
  width: 80%;
  margin: 150px auto;
}
.card {
  width: 45%;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
  display: block;
  margin: -83px -3px;
  position: relative;
  background-color: RED;
}
.card:nth-child(even){
  margin-left: auto;
}
.card:nth-child(even):before{
  content: "";
  position: absolute;
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}
.card:nth-child(even):after{
  content: "";
  position: absolute;
  top: 49%;
  left: -8%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background-color: #fff;
  z-index: -1;
}
.card:nth-child(odd):before{
  content: "";
  position: absolute;
  top: 50%;
  right: -15%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 5px solid #191919;
  border-radius: 50%;
}
.card:nth-child(odd):after{
  content: "";
  position: absolute;
  top: 49%;
  right: -8%;
  transform: translateY(-50%);
  width: 7%;
  height: 2px;
  background-color: #fff;
  z-index: -1;
}
.card:nth-child(1), .card:nth-child(1)::before{
  background-color: red;
}
.card:nth-child(2), .card:nth-child(2)::before{
  background-color: #ff4f4f;
}
.card:nth-child(3), .card:nth-child(3)::before{
  background-color: #ffb84f;
}
.card:nth-child(4), .card:nth-child(4)::before{
  background-color: #3dca5c;
}
.card:nth-child(5), .card:nth-child(5)::before{
  background-color: #565252;
}
.card:nth-child(6), .card:nth-child(6)::before{
  background-color: #4fa0ff;
}

.card:nth-child(even) .card-body::before{
  content: "";
  position: absolute;
  top: 0;
  left: -12%;
  width: 0;
  height: 100%;
  border: 1px dashed #fff;
  z-index: -1;
}
.card-title{
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

@media(max-width: 1024px) {
  .timeline {
    width: 98%;
  }
  .card:nth-child(odd):before{
    right: -15%;
  }
  .card:nth-child(even):before{
    left: -15%;
  }
}
@media(max-width: 425px){
  .card:nth-child(even):before {
    left: -20%;
}
.card:nth-child(odd):before {
  right: -20%;
}
.card:nth-child(even) .card-body::before{
  top: -94px;
  height: 147%;
}
}
@media(max-width: 375px){
  .card{
    padding: 15px;
  }
}
@media(max-width: 320px){
  .card:nth-child(even) .card-body::before {
    top: -122px;
    height: 154%;
}
.card-title {
  font-size: 24px;
}
}